<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flask Docker</title>
        <style>
            div{
                text-align: center;
            }
            span{
                display:inline-block;
                vertical-align:middle;
            }
        </style>
    </head>
    <body>
        <h1>This is a Flask App containerized with Docker</h1>
        <div>
            <span>
                <form method="post" action="app.py">
                <input type="text" name="userInput">
                <input type="button" name="sendInput">
            </span>

        </div>

    </body>
</html>